---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import {
	SITE_TITLE,
	SITE_DESCRIPTION,
	SITE_ABOUT_DESCRIPTION,
	SITE_ABOUT,
} from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead
			title={SITE_TITLE + SITE_ABOUT}
			description={SITE_ABOUT_DESCRIPTION}
		/>
	</head>
	<body>
		<Header />

		<Footer />
	</body>
</html>
