---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ImageBottomSection from "../components/ImageBottomSection.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</head>
	<body>
		<Header />
		<main
			class="relative m-0 flex min-w-full flex-col items-center justify-between gap-y-10 border-b-4 border-emerald-900 p-10 md:gap-x-20 md:p-16 xl:flex-row xl:items-center"
		>
			<section class="z-10 text-center xl:w-2/4 xl:text-left">
				<div
					class="flex flex-col items-center gap-8 xl:items-start xl:gap-y-14"
				>
					<h2 class="text-2xl md:text-3xl xl:text-left xl:text-5xl">
						¡Bienvenido a CódigoMorga!
					</h2>
					<p class="text-xl md:text-2xl">
						En este blog (joder me he sentido en 2002 con esta frase), voy a
						poner cositas chulas sobre programación, desarrollo web e
						informática en general
					</p>
					<p class="text-xl md:text-2xl">
						Si estás aquí para ver como voy progresando en el mundo del
						Desarrollo Full Stack, tal vez aprendas algo interesante sobre
						programación
					</p>
					<p class="text-xl md:text-2xl">
						Espero que te guste el contenido, si te gusta algún artículo de este
						blog, ¡No olvides compartirlo en redes sociales!
					</p>
					<div class="typewriter">
						<h3
							id="typewriter-text"
							class="h-12 text-2xl md:text-3xl xl:text-3xl"
						>
						</h3>
					</div>
				</div>
			</section>
			<section class="absolute bottom-0 left-0 top-0 w-full opacity-10">
				<img
					src="./programmingCodeGif.gif"
					alt="codingBgGi"
					class="block h-full w-full"
				/>
			</section>
			<section class="opacity-20 shadow-slate-700 xl:w-2/4">
				<img
					src="./top-programing-languages.jpeg"
					alt="programming languages"
				/>
			</section>
		</main>
		<section
			class="accede flex flex-col items-center gap-5 p-10 text-center md:flex-row md:justify-center md:gap-x-10"
		>
			<p class="sm:text-xl md:text-2xl lg:text-3xl">
				Accede a mi Portfolio para ver más proyectos como este:
			</p>
			<a
				href="https://www.developermorgade.es/"
				class="w-10 transition hover:scale-125"
				target="blank"
				;
			>
				<ImageBottomSection /></a
			>
		</section>
		<Footer />
		<script is:inline>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
			document.addEventListener("DOMContentLoaded", function () {
				function typeWriter() {
					const text = "Ponte cómodo y ¡Disfruta!";
					let i = 0;
					let deleting = false;
					let interval = setInterval(function () {
						if (!deleting && i <= text.length) {
							document.getElementById("typewriter-text").textContent =
								text.substring(0, i++);
						} else if (!deleting && i > text.length) {
							deleting = true;
						} else if (deleting && i >= 0) {
							document.getElementById("typewriter-text").textContent =
								text.substring(0, i--);
						} else if (deleting && i < 0) {
							deleting = false;
						}
					}, 150);
				}

				typeWriter();
			});
		</script>
	</body>
</html>
