---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</head>
	<body>
		<Header />
		<main
			class="flex flex-col md:flex-row text-center justify-between m-0 w-full"
		>
			<section>
				<div class="flex flex-col">
					<h2 class="text-3xl text-center leading-loose">¡Hola! Soy David.</h2>
					<p class="leading-relaxed">
						Tu informático de confianza, si, ese que llamas cuando el portatil
						te va lento, o cuando tu secadora no funciona...
					</p>
					<p>
						Si estás aquí para ver como voy progresando en el mundo del
						Desarrollo Full Stack, tal vez aprendas algo interesante sobre
						programación
					</p>
					<h3>Ponte cómodo y ¡Disfruta!</h3>
				</div>
			</section>
			<section>
				<img src="./codingBgGif.webp" alt="codingBgGi" />
			</section>
		</main>
		<Footer />

		<script>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
	</body>
</html>
