---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ImageBottomSection from "../components/ImageBottomSection.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"
		></script>
	</head>
	<body>
		<Header />
		<main
			class="relative m-0 flex min-w-full flex-col items-center justify-between gap-y-10 border-b-4 border-emerald-900 p-10 md:gap-x-20 md:p-16 xl:flex-row xl:items-center"
		>
			<section class="text-center xl:w-2/4 xl:text-left">
				<div
					class="flex flex-col items-center gap-8 xl:items-start xl:gap-y-14"
				>
					<h2 class="text-3xl md:text-4xl xl:text-left xl:text-6xl">
						¡Hola! Soy David.
					</h2>
					<p class="text-xl md:text-2xl">
						Tu informático de confianza, si, ese que llamas cuando el portatil
						te va lento, o cuando tu secadora no funciona...
					</p>
					<p class="text-xl md:text-2xl">
						Si estás aquí para ver como voy progresando en el mundo del
						Desarrollo Full Stack, tal vez aprendas algo interesante sobre
						programación
					</p>
					<p class="text-xl md:text-2xl">
						Si eres una empresa y te gusta lo que ves, tal vez os interese
						contactar conmigo a traves de linkedin o rellenar el formulario de
						contacto de mi portfolio, también puedes contactarme por correo a
						davidmorgadegil@gmail.com
					</p>
					<h3 class="text-2xl md:text-3xl xl:text-3xl">
						Ponte cómodo y ¡Disfruta!
					</h3>
				</div>
			</section>
			<section class="absolute bottom-0 top-0 w-full opacity-10">
				<img
					src="./programmingGuy.gif"
					alt="codingBgGi"
					class="block h-full w-full"
				/>
			</section>
			<section class="opacity-50 shadow-slate-700 xl:w-2/4">
				<img src="./top-programing-languages.jpeg" alt="" />
			</section>
		</main>
		<section
			class="flex flex-col items-center gap-5 p-10 text-center md:flex-row md:justify-center md:gap-x-10"
		>
			<p class="sm:text-xl md:text-2xl lg:text-3xl">
				Accede a mi Portfolio para ver más proyectos como este:
			</p>
			<a
				href="https://www.developermorgade.es/"
				class="w-10 transition hover:scale-125"
				target="blank"
				;
			>
				<ImageBottomSection /></a
			>
		</section>
		<Footer />
		<script>
			if (window.netlifyIdentity) {
				window.netlifyIdentity.on("init", (user) => {
					if (!user) {
						window.netlifyIdentity.on("login", () => {
							document.location.href = "/admin/";
						});
					}
				});
			}
		</script>
	</body>
</html>
