---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="border-b-4 border-black flex justify-between p-6 items-center">
	<h1 class="hidden">{SITE_TITLE}</h1><a
		href="/"
		title="Back to Home"><p class="righteous md:text-5xl">{SITE_TITLE}</p></a
	><nav class="hidden md:inline-block">
		<h2 class="hidden">Navigation</h2><ul class="flex gap-8 poppins">
			<li>
				<a
					class="text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out"
					href="/"
					title="Go to Home">Home</a
				>
			</li><li>
				<a
					class="text-lg font-medium hover:text-green hover:underline transition-all duration-150 ease-in-out"
					href="/blog/"
					title="Go to Blog">Blog</a
				>
			</li><li>
				<a
					href="https://github.com/DavidMorgade"
					class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
					target="_blank"
					title="'See @DavidMorgade on GitHub"
					><img alt="Github Icon" src="github-icon.png" class="w-8 h-8"></a
				>
			</li><li>
				<a
					href="https://www.twitter.com/eliancodes"
					class="hover:text-green hover:underline transition-all duration-150 ease-in-out"
					target="_blank"
					title="'See @MeSabeAgridulce on Twitter"
					><img class="w-8 h-8" alt="Twitter Icon" src="twitter-icon.png" class="sc-bjfHbI eGbXuw"></a
				>
			</li><li>
				<a
					href="/feed.xml"
					class="hover:text-green hover:underline transition-all duration-150 ease-in-out flex flex-col justify-center"
					target="_blank"
					title="Connect with me in LinkedIn!"
					><img alt="LinkedIn Icon" src="linkedin-icon.png" class="w-8 h-8"></a
				>
			</li>
		</ul>
	</nav><nav class="md:hidden flex">
		<h2 class="hidden">Mobile Navigation</h2><ul>
			<li><a href="/blog/">Blog</a></li>
		</ul>
	</nav>
</header>
