<div class="grid h-96 w-96 grid-cols-3 grid-rows-3 rounded-full">
	<div class="flex flex-col items-center justify-center">
		<img class="w-12" src="./js.png" alt="Javascript" />
	</div>
	<div class="flex flex-col items-center justify-start">
		<img class="w-12" src="./css-3.png" alt="CSS3" />
	</div>
	<div class="flex flex-col items-center justify-center">
		<img class="w-12" src="./html-5.png" alt="HTML" />
	</div>
	<div class="flex flex-col items-start justify-center">
		<img class="w-12" src="./nodejs.webp" alt="NodeJS" />
	</div>
	<div class="flex flex-col items-center justify-center">
		<img class="w-12" src="./structure.png" alt="React" />
	</div>
	<div class="flex flex-col items-end justify-center">
		<img class="w-12" src="./astro.png" alt="Astro" />
	</div>
	<div class="flex flex-col items-center justify-center">
		<img class="w-12" src="./typescript.png" alt="TypeScript" />
	</div>
	<div class="flex flex-col items-center justify-end">
		<img class="w-12" src="./c-sharp.png" alt="C#" />
	</div>
	<div class="flex flex-col items-center justify-center">
		<img class="w-12" src="./java.png" alt="Java" />
	</div>
</div>
