---
import HeaderLink from "./HeaderLink.astro";
---

<div class=`justify-between gap-5 flex`>
	<li class="transition hover:scale-125">
		<HeaderLink>
			<img class="w-7" src="github-icon.png" alt="Github Icon" />
		</HeaderLink>
	</li>
	<li class="transition hover:scale-125">
		<HeaderLink>
			<img class="w-7" src="linkedin-icon.png" alt="linkedin icon" />
		</HeaderLink>
	</li>
	<li class="transition hover:scale-125">
		<HeaderLink>
			<img class="w-7" src="twitter-icon.png" alt="twitter icon" />
		</HeaderLink>
	</li>
</div>
